/* --------------------
     font
----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');

/*-------------------
    common style
--------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

/*--------------------
     header
---------------------- */
.title {
    font-family: 'Montserrat', sans-serif;
    color: #31A5AC;
    font-size: 35px;
}

/* ----------------------
     image
------------------------ */
 .image-container {
    width: 100%;
    height: 580px;
} 

.money-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* ----------------
     input part
------------------- */
.input-container {
    background-color: #F8F8F8;
    height: 580px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    padding: 7px 0;
}

input {
    background-color: #DCDCDC;
    padding: 2px 7px;
    border: 0;
    border-radius: 3px;  
}

.notify {
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    background: #222436; 
    margin-bottom: 3px;
    border-radius: 15px;
    padding: 5px 10px;
    display: none;
}

.notify-section{
    width: 80%;
    margin: 0 auto;
}

.calculate-button {
    display: block;
    margin: 8px auto;
    padding: 5px 40px;
    background-color: #59A5FF;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border: 0;  
    border-radius: 4px;
}

.money-button-save {
    padding: 5px 35px;
    background-color: #59A5FF;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    border: 0;  
    border-radius: 4px;
}

.save-amount {
   width: 90px;
}

/* -------------------- 
    mobile version
----------------------- */
@media only screen and (max-width: 600px) {
    
    label {
        display: inline-block;
        width: 160px;
        text-align: right;
        margin-right: 10px;
        padding: 7px 0;
    }
/* --------------------
    image 
-----------------------*/
    .image-container {
    height: auto;
    } 

/* --------------------
     input part
------------------------ */
    .input-container {
    margin-top: 15px;
    height: auto;
    padding-bottom: 15px ;
    }

    .notify-section{
        padding-top: 15px;
    }
}

@media only screen and (max-width: 450px) {
    
    label {
        display: inline-block;
        width: 100px;
        text-align: right;
        margin-right: 10px;
        padding: 7px 0;
    }
/* --------------------
    image 
-----------------------*/
    .image-container {
    height: auto;
    } 

/* --------------------
     input part
------------------------ */
    .input-container {
    margin-top: 15px;
    height: auto;
    padding-bottom: 15px ;
    }

    .notify-section{
        padding-top: 15px;
    }
}
